apiVersion: apps/v1
kind: Deployment
metadata:
  name: PROJECT_NAME_WITH_DASH-app
  labels:
    app: PROJECT_NAME_WITH_DASH
spec:
  replicas: 1
  selector:
    matchLabels:
      app: PROJECT_NAME_WITH_DASH
  template:
    metadata:
      labels:
        app: PROJECT_NAME_WITH_DASH
    spec:
      imagePullSecrets:
        - name: harbor-registry-secret
      containers:
        - image: DOCKER_REGISTRY/DOCKER_REPOSITORY/DOCKER_IMAGE_NAME:latest
          name: PROJECT_NAME_WITH_DASH
          envFrom:
            - secretRef:
                name: PROJECT_NAME_WITH_DASH-secret
          ports:
            - containerPort: DOCKER_PORT
              name: gunicorn
  revisionHistoryLimit: 0