version: '3'

services:
  web:
    build:
      # This section will be used when running locally
      context: .
      dockerfile: Dockerfile
    image: ${DOCKER_REGISTRY}/${DOCKER_REPOSITORY}/${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}
    env_file: ./.env
    command: bash -c "python manage.py migrate && gunicorn --bind 0.0.0.0:8000 arpansahu_dot_me.wsgi"
    container_name: arpansahu_dot_me
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    restart: unless-stopped
