{% load static %}
<section class="hero-one position-relative main-bg" id="home"  style="background-image: url('{% static "images/personal/main-bg.png" %}'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col-lg-5  mx-auto mt-5">
                <img src="{% static 'images/personal/arpansahu-new-transparent.png' %}" alt="" class="img-fluid ml-lg-5">
            </div><!--end col-->
            <div class="col-lg-7 text-center px-0 px-xl-4 mt-5 mt-lg-0 pt-5 pt-lg-0">
                <h5 class="d-inline-block py-1 px-3 rounded text-muted font-secondary">Hi, I'm Arpan Sahu</h5>
                <h1 class="hero-title mb-4 font-secondary fo">I'm a <mark><span class="fw-medium typewrite" data-period="2000" data-type='["Python", "Django", "Flask", "Fast API"]'></span></mark> Developer</h1>
                <span class="wrap"></span>
                <div class="mb-5 mb-lg-0">
                    <div class="d-inline-block">
                        <a href="{% url 'resume' %}" target="_blank" class="btn btn-primary">View Resume</a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!-- end container -->
</section>