{% load static %}
<section class="section" id="projects">
            <div class="container">
                <div class="row justify-content-center mb-4">
                    <div class="col-12 col-md-10 col-lg-7 text-center">
                        <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Work</span>
                        <h2 class="fs-2 fw-medium lh-1 text-dark my-3">My Projects</h2>
                        <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
                            Some Projects I have built.
                        </p>
                    </div><!--end col-->
                </div><!--end row-->
                <div class="row">
                    <div class="col-12 filters-group-wrap">
                        <div class="filters-group mb-5">
                            <ul class="mb-0 list-unstyled filter-options filter-tab">
                                <li class="list-inline-item position-relative text-dark active" data-group="all">All</li>
                                <li class="list-inline-item position-relative text-dark" data-group="basic">Basic</li>
                                <li class="list-inline-item position-relative text-dark" data-group="conceptual">Conceptual</li>
                                <li class="list-inline-item position-relative text-dark" data-group="industrial">Industrial</li>
                                <li class="list-inline-item position-relative text-dark" data-group="opensource">OpenSource</li>
                            </ul>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <div class="row d-flex  g-1 justify-content-center" id="grid">
                    
                    <!--Live-->
                    {% include "modules/home/projects_cards/scrape_optimus.html" %}
                    {% include "modules/home/projects_cards/arpansahu_dot_me.html" %}
                    {% include "modules/home/projects_cards/razorpay_ipn_django_handler.html" %}
                    {% include "modules/home/projects_cards/great_chat.html" %}
                    {% include "modules/home/projects_cards/borcelle_crm.html" %}
                    {% include "modules/home/projects_cards/clock_work.html" %}
                    {% include "modules/home/projects_cards/school_chale_hum.html" %}
                    {% include "modules/home/projects_cards/third_eye.html" %}
                    {% include "modules/home/projects_cards/altered_datum.html" %}
                    {% include "modules/home/projects_cards/altered_datum_api.html" %}
                    {% include "modules/home/projects_cards/chew_and_cheer.html" %}
                    {% include "modules/home/projects_cards/django_starter.html" %}
                    {% include "modules/home/projects_cards/numerical.html" %}
                    <!--Live-->
                    
                    <!--Not Live-->
                    {% include "modules/home/projects_cards/premium_collection_point.html" %}
                    {% include "modules/home/projects_cards/great_chat_legacy.html" %}
                    {% include "modules/home/projects_cards/geek_glasses.html" %}
                    {% include "modules/home/projects_cards/owl_eyes.html" %}
                    <!--Not Live-->
                </div><!-- end row -->
            </div><!-- end container -->
    </section>