{% load static %}
<section class="section" id="resume">
            <div class="container">
                <div class="row justify-content-center mb-4">
                    <div class="col-12 col-md-10 col-lg-7 text-center">
                        <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Life Time</span>
                        <h2 class="fs-2 fw-medium lh-1 text-dark my-3">Education & Experience</h2>
                        <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">

                        </p>
                    </div><!--end col-->
                </div><!--end row-->
                <div class="row">
                    <div class="col-12">
                        <div class="row g-0">
                            <div class="col-lg-4 col-md-6">
                                <div class="card rounded bg-light h-100 border-0">
                                    <div class="card-body d-flex justify-content-center align-items-center">
                                        <div class="mx-auto text-center">
                                            <img src="{% static 'images/personal/education.svg' %}" alt="" class="vector-dark" height="150">
                                            <img src="{% static 'images/personal/education-light.svg' %}" alt="" class="vector-light" height="150">
                                            <h5 class="text-dark fs-22 fw-medium my-2">Education</h5>
                                        </div>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                            <div class="col-lg-8 col-md-6">
                                <div class="card rounded bg-white  h-100 border-0">
                                    <div class="card-body p-0">
                                        <div class="accordion accordion-flush" id="Education_accordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="prime">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Education_one" aria-expanded="false">
                                                        BTech Computer Science & Engineering Degree
                                                        <span class="fw-medium text-primary ms-auto fs-14" >CGPA: 8.55</span>
                                                        <span class="fw-medium text-primary ms-auto fs-14">2017 - 2021</span>
                                                    </button>
                                                </h2>
                                                <div id="Education_one" class="accordion-collapse collapse show" aria-labelledby="prime" data-bs-parent="#Education_accordion">
                                                    <div class="accordion-body">
                                                        <p class="text-muted mb-3">Lakshmi Narain College of Technology and Excellence is an educational institution that offers graduate,
                                                            in the fields of Engineering and Medical Sciences.
                                                        </p>
                                                        <p class="fw-medium">Lakshmi Narain College of Technology and Excellence, Bhopal, India</p>
                                                        <ul>
                                                            <li>Developed advanced applications as a part of the academic projects, like applications for
                                                                disease prediction, premium collection and transaction analysis using technologies
                                                                like C, C++, Python, MySQL and Django
                                                            </li>
                                                            <li>
                                                                Build, Third Eye Project- It is a disease predicting web app which predicts the disease on the basis of user’s
                                                                symptoms and gives information about nearby hospitals (even without having a GPS
                                                                supported device), where one can get treated
                                                                <span class="fw-medium text-primary ms-auto fs-20"> (Jan-Feb) 2020</span>
                                                            </li>
                                                            <li>
                                                                Premium Collection Point- A Django based Web App to collect Premium Dues for LIC Premiums. Build a business model to make the project sustainable
                                                                in aspect of revenue. There were two entities Branches and their Managers. Branches can also increase their income with the help of Refer n Earn.
                                                                Built a custom Payment Gateway to support the wallet load money service at 0 cost.
                                                                <span class="fw-medium text-primary ms-auto fs-20"> (jun-aug) 2020</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!--end accordion-item-->
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="second">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Education_two" aria-expanded="false">
                                                        Higher Secondary school
                                                    <span class="fw-medium text-primary ms-auto fs-14">Percentage: 70.60</span>
                                                    <span class="fw-medium text-primary ms-auto fs-14">2015 - 2016</span>
                                                    </button>
                                                </h2>
                                                <div id="Education_two" class="accordion-collapse collapse" aria-labelledby="second" data-bs-parent="#Education_accordion">
                                                    <div class="accordion-body">
                                                        <p class="text-muted mb-3">Shir Ram Adarsh is an educational institution that offers Higher Education in the field of Science, Technology, Engineering and Mathematics, Arts
                                                        </p>
                                                        <p class="fw-medium">Shir Ram Adarsh Higher Secondary, Seoni, M.P., India</p>
                                                    </div>
                                                </div>
                                            </div><!--end accordion-item-->
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="higher">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Education_three" aria-expanded="false">
                                                        High Secondary school
                                                    <span class="fw-medium text-primary ms-auto fs-14">Percentage: 88.40</span>
                                                    <span class="fw-medium text-primary ms-auto fs-14">2013 - 2014</span>
                                                    </button>
                                                </h2>
                                                <div id="Education_three" class="accordion-collapse collapse" aria-labelledby="higher" data-bs-parent="#Education_accordion">
                                                    <div class="accordion-body">
                                                        <p class="text-muted mb-3">Bhonsala Military is an educational institution that High Education in the field of Science, Technology, Engineering and Mathematics, Arts
                                                            along with Military Curriculum
                                                        </p>
                                                        <p class="fw-medium">Bhonsala Military School, Nagpur, Mah, India</p>
                                                        <ul>
                                                            <li style="align-items: center;">
                                                                Won, National Aerospace Olympiad held at Bangalore
                                                                <span class="fw-medium text-primary ms-auto fs-20">2013</span>
                                                            </li>
                                                            <li style="align-items: center;">
                                                                Won, Best Debater Against the motion of Nagpur City
                                                                <span class="fw-medium text-primary ms-auto fs-20">2013</span>
                                                            </li>
                                                            <li style="align-items: center;">
                                                                Won, Best Debater, in School
                                                                <span class="fw-medium text-primary ms-auto fs-20">2012</span>
                                                            </li>
                                                            <li style="align-items: center;">
                                                                Won, Best Science Exhibition, in School
                                                                <span class="fw-medium text-primary ms-auto fs-20">2012</span>
                                                            </li>
                                                            <li style="align-items: center;">
                                                                Won, Best Science Exhibition, in School
                                                                <span class="fw-medium text-primary ms-auto fs-20">2011</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!--end accordion-item-->
                                        </div><!--end accordion-->
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                        <hr class="hr-dashed">
                        <div class="row g-0">
                            <div class="col-lg-4 col-md-6">
                                <div class="card rounded bg-light h-100 border-0">
                                    <div class="card-body d-flex justify-content-center align-items-center">
                                        <div class="mx-auto text-center">
                                            <img src="{% static 'images/personal/experience.svg' %}" alt="" class="vector-dark" height="150">
                                            <img src="{% static 'images/personal/experience-light.svg' %}" alt="" class="vector-light" height="150">
                                            <h5 class="text-dark fs-22 fw-medium my-2">Experience: <span id="expericnce_dynamic"></span></h5>
                                        </div>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                            <div class="col-lg-8 col-md-6">
                                <div class="card rounded bg-white  h-100 border-0">
                                    <div class="card-body p-0">
                                        <div class="accordion accordion-flush" id="Experience_accordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="first-co">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Experience_one" aria-expanded="false">
                                                        GammaStack - IGaming IT Company
                                                        <span class="fw-medium text-primary ms-auto fs-14">2021(Feb) - 2022(June)</span>
                                                    </button>
                                                </h2>
                                                <div id="Experience_one" class="accordion-collapse collapse show" aria-labelledby="first-co" data-bs-parent="#Experience_accordion">
                                                    <div class="accordion-body">
                                                        <p class="text-muted mb-1">
                                                            - Delivered quality code by applying the best development practices.<br>
                                                            - Executed projects and delivered solutions to the clients depending upon their business requirements and expectations.<br>
                                                            - Liaised and coordinated with stakeholders during problem diagnoses, requirement
                                                            gathering, detailed level design, development, system test and production
                                                            implementation to ensure that optimal resolutions were achieved.<br>
                                                            -Provided a new type of betting system on betting portal Betfaro, based on Double Bet;
                                                            project got a boost, client profits increased up to 60% and website traffic raised
                                                            above 40%.<br>
                                                            -Contributed to KodeKloud, worked on a few features with MongoDB, Flask, AngularJS<br>
                                                            -Built a service to Scrap 12 months of data regarding Federal Motor Carrier Safety Administration(USA) and stored it in MySql Database.
                                                        </p>
                                                        <p class="fw-medium">6th Floor, Crystal IT Park, Indore 452014 (M.P.), India</p>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Python</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Django</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Flask</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Fast API</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Postgres</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">REST</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">AWS</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Redis</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Selenium</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Angular JS</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">React</span>
                                                    </div>
                                                </div>
                                            </div><!--end accordion-item-->
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="second-co">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Experience_two" aria-expanded="false">
                                                        Fireye/Trellix - Cybersecurity IT Company
                                                        <span class="fw-medium text-primary ms-auto fs-14">2022(July) - </span>
                                                    </button>
                                                </h2>
                                                <div id="Experience_two" class="accordion-collapse collapse show" aria-labelledby="second-co" data-bs-parent="#Experience_accordion">
                                                    <div class="accordion-body">
                                                        <p class="text-muted mb-1">
                                                            - Designing and implementing integrations with various security marketplace products and solutions.<br>
                                                            - Built end-to-end integration between the Security Orchestrator and Tenable for vulnerability assessment and management.<br>
                                                            - Built end-to-end integration between the Security Orchestrator and Microsoft Azure for cloud security orchestration.<br>
                                                            - Built end-to-end integration between the Security Orchestrator and VirusTotal to enrich threat intelligence and detection capabilities.<br>
                                                            - Built end-to-end integration between the Security Orchestrator and ServiceNow for automated incident management and workflow orchestration.<br>
                                                            - Developed end-to-end integration between the Security Orchestrator and Trellix/McAfee internal services for enhanced security operations.<br>
                                                            - Executed comprehensive customer migration processes from legacy EC2 instances to the XDR ecosystem.<br>
                                                            - Implemented a universal search feature across various products within the Trellix ecosystem to streamline information retrieval.<br>
                                                            - Modernized existing worker queue systems by replacing RabbitMQ with Apache Kafka, improving scalability and reliability of distributed tasks.<br>
                                                        </p>
                                                        <p class="fw-medium">5, Salarpuria Infinity, 2nd Floor, Front Wing, Bannerghatta Road, Bengaluru, Karnataka 560029, India</p>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Python</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Django</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Postgres</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">AWS</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Linux</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Shell Scripting</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">S3</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Elixir</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">REST</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Javascript</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Node JS</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">JSON API</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Docker</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Kubenetes</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Groovy</span>
                                                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">Open Cybersecurity Schema Framework </span>
                                                    </div>
                                                </div>
                                    </div><!--end accordion-item-->
                                        </div><!--end accordion-->
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div><!--end row-->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>