{% load static %}
<div class="col-lg-6 col-md-6 picture-item" data-groups='["basic"]'>
    <div class="card rounded shadow border-0 m-2">
        <div class="card-body p-4 m-2">
            <div class="media mb-3">
                <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                    <img src="{% static 'images/projects/altered_datum.png' %}" alt="" class="thumb-md">
                </div>
                <div class="media-body ms-3 align-self-center">
                    <h5 class="text-dark fs-18 fw-medium m-0">Altered Datum | React Blog App</h5>
                    <div style="align-self: end">
                    <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/altered_datum" target="_blank">
                        <span class="cib-github" style="margin-right: 10px"></span> Check Repo
                    </a>
                    <a class="btn btn-block btn-social btn-github" href="https://altered-datum.arpansahu.me" target="_blank">
                        <span class="cib-youtube" style="margin-right: 10px"></span> Live Demo
                    </a>
                    </div>
                </div><!--end media-body-->
            </div><!--end media-->
                {% include 'modules/project_detailed/project_partials/altered_datum/technologies.html' %}
            <div style="margin-top: 10px">
                <ul>
                    <li>Crud operations for Blogs for Admin</li>
                    <li>Used Material UI</li>
                    <li>Home page displays a list of existing blogs</li>
                    <li> Material UI</li>
                    <li>Integrated with REST API using axios at end point: <a href="https://altered-datum-api.arpansahu.me/"><h6 style="text-decoration: underline;">click here</h6></a></li>
                    <li>Forget Password and Social Login Integrated</li>
                    <li>Deployed on Hostinger VPS</li>
                </ul>
            </div>
            <div id="container">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">
                    <a  href="{% url 'project-detailed-view' 'altered_datum' %}" target="_blank">
                    Read More
                    </a>
                  </span>
                </button>
            </div>
        </div><!-- end card-body -->
    </div><!-- end card -->
</div><!-- end col -->