{% load static %}
<div class="col-lg-6 col-md-6 picture-item" data-groups='["industrial"]'>
    <div class="glass-card m-2">
        <div class="card-body p-4 m-2">
            <div class="media mb-3">
                <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                    <img src="{% static 'images/projects/arpansahu_dot_me.png' %}" alt="" class="thumb-md">
                </div>
                <div class="media-body ms-3 align-self-center">
                    <h5 class="text-dark fs-18 fw-medium m-0">arpansahu | Django Personal Portfolio</h5>
                    <div style="align-self: end">
                    <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/arpansahu_dot_me" target="_blank">
                        <span class="cib-github" style="margin-right: 10px"></span> Check Repo
                    </a>
                    <a class="btn btn-block btn-social btn-github" href="https://arpansahu.space/" target="_blank">
                        <span class="cib-youtube" style="margin-right: 10px"></span> Live Demo
                    </a>
                    </div>
                </div><!--end media-body-->
            </div><!--end media-->

            {% include 'modules/project_detailed/project_partials/arpansahu_dot_me/technologies.html' %}

            <div style="margin-top: 10px">
                <ul>
                    <li>Developed a Django-based portfolio app featuring my profile, projects, a contact page with mailjet integration, and the ability to download my resume.</li>
                    <li>Integrated README-to-HTML conversion Github and allowed admin to upload resumes.</li>
                    <li>Deployed on Ubuntu VPS, containerized with Docker/Kubernetes, and enabled CI/CD pipelines for automated testing, building, and deployment.</li>
                    <li>Integrated Automatic Readme Generator Github</li>
                </ul>
            </div>
            <div id="container">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">
                    <a  href="{% url 'project-detailed-view' 'arpansahu_dot_me' %}" target="_blank">
                    Read More
                    </a>
                  </span>
                </button>
            </div>
        </div><!-- end card-body -->
    </div><!-- end card -->
</div><!-- end col -->