{% load static %}
<div class="col-lg-6 col-md-6 picture-item" data-groups='["conceptual"]'>
    <div class="glass-card m-2">
        <div class="card-body p-4 m-2">
            <div class="media mb-3">
                <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                    <img src="{% static 'images/projects/geek_glasses.png' %}" alt="" class="thumb-md">
                </div>
                <div class="media-body ms-3 align-self-center">
                    <h5 class="text-dark fs-18 fw-medium m-0">Geek Glasses | Django Custom Auth User Model from AbstractBaseUser</h5>
                    <div style="align-self: end">
                    <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/geek_glasses" target="_blank">
                        <span class="cib-github" style="margin-right: 10px"></span> Check Repo
                    </a>
                    {% comment %} <a class="btn btn-block btn-social btn-github" href="https://geek-glasses.arpansahu.me/" target="_blank">
                        <span class="cib-youtube" style="margin-right: 10px"></span> Live Demo
                    </a> {% endcomment %}
                    </div>
                </div><!--end media-body-->
            </div><!--end media-->
            {% include 'modules/project_detailed/project_partials/geek_glasses/technologies.html' %}
            <div style="margin-top: 10px">
                <ul style="margin-top: 10px;">
                    <li>Implemented Complete Auth Using Custom Auth Model.</li>
                    <li>Used built in AbstractBaseUser as parent Auth Model.</li>
                    <li>Build Custom Manager for the same</li>
                    <li>Login. SingUp, Logout, Account Views Implemented </li>
                    <li>
                        In built views of PasswordChangeDoneView, PasswordChangeView, PasswordResetCompleteView,
                        PasswordResetConfirmView, PasswordResetView, PasswordResetCompleteView.
                        Build Custom Templates for These Inbuilt Views
                    </li>
                    <li>Implemented Forget Password</li>
                    <li>Deployed on Hostinger VPS</li>
                </ul>
            </div>
            <div id="container">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">
                    <a  href="{% url 'project-detailed-view' 'geek_glasses' %}" target="_blank">
                    Read More
                    </a>
                  </span>
                </button>
            </div>
        </div><!-- end card-body -->
    </div><!-- end card -->
</div><!-- end col -->