{% load static %}
<div class="col-lg-6 col-md-6 picture-item" data-groups='["opensource"]'>
    <div class="glass-card m-2">
        <div class="card-body p-4 m-2">
            <div class="media mb-3">
                <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                    <img src="{% static 'images/projects/razorpay_ipn_django_handler.png' %}" alt="" class="thumb-md">
                </div>
                <div class="media-body ms-3 align-self-center">
                    <h5 class="text-dark fs-18 fw-medium m-0">Razorpay IPN Django Handler | OpenSource Python Library</h5>
                    <div style="align-self: end">
                    <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/razorpay-ipn-django-handler" target="_blank">
                        <span class="cib-github" style="margin-right: 10px"></span> Check Repo
                    </a>
                    <a class="btn btn-block btn-social btn-github" href="https://pypi.org/project/razorpay-ipn-django-handler/" target="_blank">
                        <span class="cib-youtube" style="margin-right: 10px"></span> PyPI Page
                    </a>
                    </div>
                </div><!--end media-body-->
            </div><!--end media-->
                {% include 'modules/project_detailed/project_partials/razorpay_ipn_django_handler/technologies.html' %}
            <div style="margin-top: 10px">
                A Django app for handling Razorpay Instant Payment Notification (IPN) webhook events.
                <ul style="margin-top: 10px;">
                    <li>designed to manage payment, order, and subscription notifications seamlessly with support for signal-based event tracking</li>
                </ul>
            </div>
            <div id="container">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">
                    <a  href="{% url 'project-detailed-view' 'razorpay_ipn_django_handler' %}" target="_blank">
                    Read More
                    </a>
                  </span>
                </button>
            </div>
        </div><!-- end card-body -->
    </div><!-- end card -->
</div><!-- end col -->