{% load static %}
<div class="col-lg-6 col-md-6 picture-item" data-groups='["industrial"]'>
    <div class="card rounded shadow border-0 m-2">
        <div class="card-body p-4 m-2">
            <div class="media mb-3">
                <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                    <img src="{% static 'images/projects/technorigger_project11.png' %}" alt="" class="thumb-md">
                </div>
                <div class="media-body ms-3 align-self-center">
                    <h5 class="text-dark fs-18 fw-medium m-0">Technorigger</h5>
                    <div style="align-self: end">
                    <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/jobportal-admin-panel" target="_blank">
                        <span class="cib-github" style="margin-right: 10px"></span> Check Admin Panel Repo
                    </a>
                    <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/jobportal-cron" target="_blank">
                        <span class="cib-github" style="margin-right: 10px"></span> Check Cron Job Repo
                    </a>
                    <a class="btn btn-block btn-social btn-github" href="https://technorigger-admin.xyz" target="_blank">
                        <span class="cib-youtube" style="margin-right: 10px"></span> Admin Panel Live Demo
                    </a>
                    </div>
                </div><!--end media-body-->
            </div><!--end media-->
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Python</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Django</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">HTML5</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">CSS3</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Bootstrap</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Javascript</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Nginx</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">OpenSSL</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">EC2</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">RouteS3</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Selenium</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">WindScribe VPN</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Neo4j</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">FAST API</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Amazon Web Services</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Gitlab</span>
            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Docker</span>

            <div style="margin-top: 10px">
                <p>
        The motivation behind this project was when I started my job search in the Jan month of 2022.  All my colleagues were ready to start their new journey in the career for which they were preparing
        for a long time ago. This motivated me to start my job search, and frankly speaking I am a bit, lazy person. Thus, most tiring and time-consuming task was applying for a job. I have faced a few challenges while my job search is:
        <ol>
            <li>Even after  feeding python in the search bar for jobs, LinkedIn was also showing jobs without python.</li>
            <li>Moreover on the Job Search page after clicking the search button you are shown only the job title and category along with a few details. So for every job you have to check the entire job post that is suitable for you or not.</li>
            <li>Job search could be better if job skills would be shown on the main search page already, saving 50% time for job searchers. </li>
            <li>Linkedin should make it compulsory to put a range for job posting on how many years of experience is required.</li>
            <li>Moreover few companies do not post on LinkedIn. Rather they maintain and update their own careers pages more frequently. Due to this reason, you may lose some good opportunities. To solve this problem you may have to subscribe to their career alerts.</li>
            <li>But solving the last problem creates another problem which is a lot of daily emails for jobs which further at some point in time makes it next to impossible to check every email in that detailed manner, leading towards another problem.</li>
        </ol>
        and this is how I decided to build my self another job portal platform.
        <hr>
        Note: This project is my personal dream project and Repositories are not open for public (like other projects).
        <hr>
    </p>
            </div>

            <div id="container">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">
                    <a  href="{% url 'project-detailed-view' 11 %}" target="_blank">
                    Read More
                    </a>
                  </span>
                </button>
            </div>
        </div><!-- end card-body -->
    </div><!-- end card -->
</div><!-- end col -->