{% load static %}
<div class="col-lg-6 col-md-6 picture-item" data-groups='["industrial"]'>
    <div class="card rounded shadow border-0 m-2">
        <div class="card-body p-4 m-2">
            <div class="media mb-3">
                <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                    <img src="{% static 'images/projects/third_eye.png' %}" alt="" class="thumb-md">
                </div>
                <div class="media-body ms-3 align-self-center">
                    <h5 class="text-dark fs-18 fw-medium m-0">Third Eye | AI Disease Predictor</h5>
                    <div style="align-self: end">
                    <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/third_eye" target="_blank">
                        <span class="cib-github" style="margin-right: 10px"></span> Check Repo
                    </a>
                    <a class="btn btn-block btn-social btn-github" href="https://third-eye.arpansahu.me/" target="_blank">
                        <span class="cib-youtube" style="margin-right: 10px"></span> Live Demo
                    </a>
                    </div>
                </div><!--end media-body-->
            </div><!--end media-->
                {% include 'modules/project_detailed/project_partials/third_eye/technologies.html' %}
            <div style="margin-top: 10px">
                AI powered Disease Predictor. 
                <ul style="margin-top: 10px;">
                    <li>A simple web interface with three primary views, all function-based, allowing users to interact with the application easily.</li>
                    <li>Provides users with an intuitive interface to input symptoms, view predictions, and locate nearby medical facilities.</li>
                    <li>Displays nearby hospital facilities based on the user’s location.</li>
                    <li>Deployed on AWS EC2, containerized with Docker/Kubernetes, and enabled CI/CD pipelines for automated testing, building, and deployment. Integrated Automatic Readme Generator Github</li>
                </ul>
            </div>
            <div id="container">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">
                    <a  href="{% url 'project-detailed-view' 'third_eye' %}" target="_blank">
                    Read More
                    </a>
                  </span>
                </button>
            </div>
        </div><!-- end card-body -->
    </div><!-- end card -->
</div><!-- end col -->