{% extends 'base.html' %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}


    <style>
    *, *:before, *:after {
      box-sizing: border-box;
    }

    pre[class*="language-"] {
      position:relative;
      overflow: auto;
      margin:5px 0;
      padding:1.75rem 0 1.75rem 1rem;
      border-radius:10px;
    }

    copy-button{
      position:absolute;
      top:5px;
      right:5px;
      font-size:.9rem;
      padding:.15rem;
      background-color:#828282;
      color: #1e1e1e;
      border:ridge 1px #7b7b7c;
      border-radius:5px;
      text-shadow:#c4c4c4 0 0 2px;
    }

    copy-button:hover{
      cursor:pointer;
       background-color:#bcbabb;
    }

    </style>
{% endblock stylesheets %}

{% block content %}

    <!-- start hero -->
    <section class="hero-one position-relative bg-black" id="about"  style="background-image: url('{% static "images/personal/main-bg.png" %}'); background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row align-items-center justify-content-center py-100">
                <div class="col-lg-12 text-center py-12 text-center">
                    <h5 class="head-title py-12" aria-label="Numerical"></h5>
                </div><!--end col-->
            </div><!--end row-->
        </div><!-- end container -->
    </section>
    <!-- end hero -->

    <!-- start hero -->
    <section class="hero-one position-relative bg-black" id="home"  style="background-image: url('{% static "images/personal/main-bg.png" %}'); background-size: cover; background-position: center center;">
        <div class="row align-items-center justify-content-center" style="padding: 5px; align-items: center; text-align: center">
            <h4 style="color: white"> Django Simple Numeric Calculator</h4>
        </div>
        <div class="row align-items-center justify-content-center" style="padding: 5px">
            <div class="col-lg-8  mx-auto">
              <div class="col-md-8 mx-auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: black"></button>
                  </div>
                  <div class="carousel-inner border-radius-sm">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="{% static 'images/sliders/project3/project3_1.png' %}" alt="First slide" />
                        <div class="carousel-caption d-none d-md-block" style="color: black">
                        </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-success" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-success" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div><!--end col-->

            <div class="col-lg-4 text-center px-0 px-xl-4 mt-5 mt-lg-0 pt-5 pt-lg-0">
                <h5 class="d-inline-block py-1 px-3 rounded text-muted font-secondary" style="color: white">Technologies Used</h5>
                <span class="wrap"></span>
                <div class="mb-4 mb-lg-0">
                    <div class="d-inline-block">
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Python</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Django</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Jquery</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">HTML</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">CSS</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Bootstrap</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Javascript</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Heroku</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Github</span>
                    </div>
                </div>

                <div class="mb-5 mb-lg-0" style="margin-top: 15px">
                    <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/django-numeric-calculator" target="_blank" style="color: white">
                        <span class="fa fa-github" style="margin-right: 10px; color: white"></span> Check Repo
                    </a>
                    <a class="btn btn-block btn-social btn-github" href="https://django-numerical-calculator.herokuapp.com/" target="_blank" style="color: white">
                        <span class="fa fa-youtube" style="margin-right: 10px; color: white"></span> Live Demo
                    </a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </section>
     <!-- end hero -->
     <div class="container-fluid py-4" style="background-color: black">
        <div class="row" style="border-radius: 10px">
          <div class="col-12" style="border-radius: 10px">
            <div class="card mb-12" style="border-radius: 20px">
                <div style="padding: 20px; border-radius: 10px">
                        <h2>Description</h2><hr>
                        <p>This project is implementation for the following topics related to technologies used with Django</p><br>
                            <p>-Implemented Simple Numeric Calculator.</p>
                                <ol>
                                    <li>Used JQuery for making html Dynamic</li>
                                    <li>Built Beautiful UI</li>
                                    <li>sed SoftUI</li>
                                    <li>Used Bootstrap</li>
                                    <li>Build Calculator Operations +, -, *, / as well as brackets are evaluated</li>
                                    <li>It will give error if brackets are not balanced or if we send empty equation.</li>
                                </ol>

                            <h2>Demo</h2><hr>
                            <p><a href="https://django-numerical-calculator.herokuapp.com/" target="_blank">Available at: https://django-numerical-calculator.herokuapp.com/</a></p>

                            <h2>Installation</h2><hr>
                            <p>Installing Pre requisites</p>

<pre><code class="language-python">pip install -r requirements.txt
</code></pre>

                            <p>Run Server.</p>
<pre><code class="language-python">python manage.py runserver
</code></pre>
                            <h2>Deployment on Heroku</h2><hr>
                            <p>Installing Heroku Cli</p>
<pre><code class="language-python">checkout: https://devcenter.heroku.com/articles/heroku-cli
</code></pre>

                            <p>Create your account in Heroku.</p>
                            <p>Inside your project directory </p>
                            <p>Login Heroku CLI</p>
<pre><code class="language-python">heroku login
</code></pre>
                            <p>Create Heroku App</p>
<pre><code class="language-python">heroku create [app_name]
</code></pre>
                            <p>Push Heroku App</p>
<pre><code class="language-python">git push heroku master
</code></pre>
                            <p>Configure Heroku App Env Variables</p>
<pre><code class="language-python">heroku config:set GITHUB_USERNAME=joesmith
</code></pre>
                            <h2>Configuring Django App for Heroku</h2><hr>
                            <p>Install whitenoise </p>
<pre><code class="language-python">pip install whitenoise
</code></pre>
                            <p>Include it in Middlewares.</p>
<pre><code class="language-python">MIDDLEWARE = [
    # ...
    "django.middleware.security.SecurityMiddleware",
    "whitenoise.middleware.WhiteNoiseMiddleware",
    # ...
]
</code></pre>
                            <p>Create Procfile and include this code snippet in it.</p>
<pre><code class="language-python">web: gunicorn django_calculator.wsgi
</code></pre>

                            <h2>Environment Variables</h2><hr>
                            <p>To run this project, you will need to add the following environment variables to your .env file</p>
<pre><code class="language-python">SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
</code></pre>
                    </div>
            </div>
          </div>
        </div>
     </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
    <!-- Copy Button JS -->
    const copyButtonLabel = "Copy Code";

    // you can use a class selector instead if you, or the syntax highlighting library adds one to the 'pre'.
    let blocks = document.querySelectorAll("pre");

    blocks.forEach((block) => {
      // only add button if browser supports Clipboard API
      if (navigator.clipboard) {
        let button = document.createElement("copy-button");
        button.innerText = copyButtonLabel;
        button.addEventListener("click", copyCode);
        block.appendChild(button);
      }
    });

    async function copyCode(event) {
      const button = event.srcElement;
      const pre = button.parentElement;
      let code = pre.querySelector("code");
      let text = code.innerText;
      await navigator.clipboard.writeText(text);

      button.innerText = "Code Copied";

      setTimeout(()=> {
        button.innerText = copyButtonLabel;
      },1000)
    }
    <!-- Copy Button JS ends-->
    </script>
{% endblock javascripts %}