{% extends 'base.html' %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}


    <style>
    *, *:before, *:after {
      box-sizing: border-box;
    }

    pre[class*="language-"] {
      position:relative;
      overflow: auto;
      margin:5px 0;
      padding:1.75rem 0 1.75rem 1rem;
      border-radius:10px;
    }

    copy-button{
      position:absolute;
      top:5px;
      right:5px;
      font-size:.9rem;
      padding:.15rem;
      background-color:#828282;
      color: #1e1e1e;
      border:ridge 1px #7b7b7c;
      border-radius:5px;
      text-shadow:#c4c4c4 0 0 2px;
    }

    copy-button:hover{
      cursor:pointer;
       background-color:#bcbabb;
    }

    </style>
{% endblock stylesheets %}

{% block content %}

    <!-- start hero -->
    <section class="hero-one position-relative bg-black" id="about"  style="background-image: url('{% static "images/personal/main-bg.png" %}'); background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row align-items-center justify-content-center py-100">
                <div class="col-lg-12 text-center py-12 text-center">
                    <h5 class="head-title py-12" aria-label="Technorigger"></h5>
                </div><!--end col-->
            </div><!--end row-->
        </div><!-- end container -->
    </section>
    <!-- end hero -->

    <!-- start hero -->
    <section class="hero-one position-relative bg-black" id="home"  style="background-image: url('{% static "images/personal/main-bg.png" %}'); background-size: cover; background-position: center center;">
        <div class="row align-items-center justify-content-center" style="padding: 5px; align-items: center; text-align: center">
            <h4 style="color: white">The Perfect Job Portal</h4>
        </div>
        <div class="row align-items-center justify-content-center" style="padding: 5px">
            <div class="col-lg-8  mx-auto">
              <div class="col-md-8 mx-auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: black"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: black"></button>
                  </div>
                  <div class="carousel-inner border-radius-sm">
                    <div class="carousel-item active">
                        <video class="img-fluid" autoplay loop muted >
                          <source src="{% static 'images/sliders/project11/technorigger-admin-panel.mp4' %}" type="video/mp4" />
                        </video>
                        <div class="carousel-caption d-none d-md-block" style="color: black">
                          <h5>Admin Panel</h5>
                          <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <video class="img-fluid" autoplay loop muted >
                          <source src="{% static 'images/sliders/project11/technorigger-cron.mp4' %}" type="video/mp4" />
                        </video>
                        <div class="carousel-caption d-none d-md-block" style="color: white">
                          <h5>Technorigger Cron</h5>
                          <p></p>
                        </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-success" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-success" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>


              </div>
            </div><!--end col-->

            <div class="col-lg-4 text-center px-0 px-xl-4 mt-5 mt-lg-0 pt-5 pt-lg-0">
                <h5 class="d-inline-block py-1 px-3 rounded text-muted font-secondary" style="color: white">Technologies Used</h5>
                <span class="wrap"></span>
                <div class="mb-4 mb-lg-0">
                    <div class="d-inline-block">
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Python</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Django</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Jquery</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">HTML</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">CSS</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Bootstrap</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Javascript</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Postgres</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Amazon Web Services</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Nginx</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">OpenSSL</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Selenium</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">EC2</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">RouteS3</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">WindScribe VPN</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Neo4j</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">FAST API</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Gitlab</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Docker</span>
                    </div>
                </div>

                <div class="mb-5 mb-lg-0" style="margin-top: 15px">
                    <a class="btn btn-block btn-social btn-github" href="https://technorigger-admin.xyz" target="_blank" style="color: white">
                        <span class="fa fa-youtube" style="margin-right: 10px; color: white"></span> Admin Panel Live Demo
                    </a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </section>
     <!-- end hero -->
     <div class="container-fluid py-4" style="background-color: black">
        <div class="row" style="border-radius: 10px">
          <div class="col-12" style="border-radius: 10px">
            <div class="card mb-12" style="border-radius: 20px">
                <div style="padding: 20px; border-radius: 10px">
                        <h2>Description</h2><hr>
                        <p>
                            The motivation behind this project was when I started my job search in the Jan month of 2022.  All my colleagues were ready to start their new journey in the career for which they were preparing
                            for a long time ago. This motivated me to start my job search, and frankly speaking I am a bit, lazy person. Thus, most tiring and time-consuming task was applying for a job. I have faced a few challenges while my job search is:
                            <ol>
                                <li>Even after  feeding python in the search bar for jobs, LinkedIn was also showing jobs without python.</li>
                                <li>Moreover on the Job Search page after clicking the search button you are shown only the job title and category along with a few details. So for every job you have to check the entire job post that is suitable for you or not.</li>
                                <li>Job search could be better if job skills would be shown on the main search page already, saving 50% time for job searchers. </li>
                                <li>Linkedin should make it compulsory to put a range for job posting on how many years of experience is required.</li>
                                <li>Moreover few companies do not post on LinkedIn. Rather they maintain and update their own careers pages more frequently. Due to this reason, you may lose some good opportunities. To solve this problem you may have to subscribe to their career alerts.</li>
                                <li>But solving the last problem creates another problem which is a lot of daily emails for jobs which further at some point in time makes it next to impossible to check every email in that detailed manner, leading towards another problem.</li>
                            </ol>
                            and this is how I decided to build my self another job portal platform.
                            <hr>
                            Note: This project is my personal dream project and Repositories are not open for public (like other projects).
                            <hr>
                        </p>
                        <p>This project consists of 4 sub projects</p><br>
                            <p>The Admin Panel</p>
                                <ol>
                                    <li>Build Admin Panel using Django</li>
                                    <li>Deployed on AWS EC2</li>
                                    <li>Used S3 Route along with Nginx and Gunicorn</li>
                                    <li>OpenSSL used for ssl certificate</li>
                                    <li>Live at: <a href="https://technorigger-admin.xyz">https://technorigger-admin.xyz/</a></li>
                                </ol>
                            <p>The Cron Instance</p>
                                <ol>
                                    <li>This cron instance is built using Django</li>
                                    <li>As of now there are 5 cron commands built for updating Locations, New Jobs, Deleting jobs that are no more available, Associating Skills
                                        and Extraction of Skills.
                                    </li>
                                    <li>Three companies : Browserstack, Meta and Walmart Global India are being scrapped on a daily basis.</li>
                                    <li>Architecture of Cron Instance with Jobs is almost complete and Now the main focus is on users in Next Instance</li>
                                </ol>
                            <p>The API Instance<br>
                                This instance is still on Architectural phase. Actually when I started to build it, I wanted it to be future-proof, and I want to use Asynchronous
                                python frameworks such as FAST API so that I can get maximum threshold. Moreover, one more though came into my mind is that, What is the reason which makes LinkedIn a billion-dollar company
                                and Glassdoor not. Its User Interactions. Glassdoor is simply a job posting board or reviews boarding. Although Reviews are being posted by Users only but still it's not that much interactive as of LinkedIn.
                                Because LinkedIn is a social media and Glassdoor is not. Thus, I am thinking to bring neo4j as Graph Database into the picture for building a social network of users.
                            </p>
                            <p>Front End Clients <br>
                                This part of project is completely untouched yet.
                            </p>
                                <ol>
                                    <li>Web App with React JS</li>
                                    <li>Android App with Flutter of React Native</li>
                                    <li>Ios App with Flutter or React Native</li>
                                </ol>
            </div>
          </div>
        </div>
     </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>

    </script>
{% endblock javascripts %}