{% extends 'base.html' %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}


    <style>
    *, *:before, *:after {
      box-sizing: border-box;
    }

    pre[class*="language-"] {
      position:relative;
      overflow: auto;
      margin:5px 0;
      padding:1.75rem 0 1.75rem 1rem;
      border-radius:10px;
    }

    copy-button{
      position:absolute;
      top:5px;
      right:5px;
      font-size:.9rem;
      padding:.15rem;
      background-color:#828282;
      color: #1e1e1e;
      border:ridge 1px #7b7b7c;
      border-radius:5px;
      text-shadow:#c4c4c4 0 0 2px;
    }

    copy-button:hover{
      cursor:pointer;
       background-color:#bcbabb;
    }

    </style>
{% endblock stylesheets %}

{% block content %}

    <!-- start hero -->
    {% include 'modules/project_detailed/project_partials/great_chat/hero.html' %}
    <!-- end hero -->

    <!-- start slider -->
    {% include 'modules/project_detailed/project_partials/great_chat/slider.html' %}
     <!-- end slider -->

     <div class="container-fluid py-4" style="background-color: black">
        <div class="row" style="border-radius: 10px">
          <div class="col-12" style="border-radius: 10px">
            <div class="card mb-12" style="border-radius: 20px">
                <div style="padding: 20px; border-radius: 10px">
                

                </div>
            </div>
          </div>
        </div>
     </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
    <!-- Copy Button JS -->
    const copyButtonLabel = "Copy Code";

    // you can use a class selector instead if you, or the syntax highlighting library adds one to the 'pre'.
    let blocks = document.querySelectorAll("pre");

    blocks.forEach((block) => {
      // only add button if browser supports Clipboard API
      if (navigator.clipboard) {
        let button = document.createElement("copy-button");
        button.innerText = copyButtonLabel;
        button.addEventListener("click", copyCode);
        block.appendChild(button);
      }
    });

    async function copyCode(event) {
      const button = event.srcElement;
      const pre = button.parentElement;
      let code = pre.querySelector("code");
      let text = code.innerText;
      await navigator.clipboard.writeText(text);

      button.innerText = "Code Copied";

      setTimeout(()=> {
        button.innerText = copyButtonLabel;
      },1000)
    }
    <!-- Copy Button JS ends-->
    </script>
{% endblock javascripts %}