{% load static %}

<section class="hero-one position-relative bg-black" id="about"  style="background-image: url('{% static "images/personal/main-bg.png" %}'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="row align-items-center justify-content-center py-100">
            <div class="col-lg-7 text-center py-5 text-center">
                <h5 class="head-title py-4" aria-label="I, Me, Myself..."></h5>
            </div><!--end col-->
        </div><!--end row-->
    </div><!-- end container -->
</section>