{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- start hero -->
    {% include 'modules/about/hero.html' %}
    <!-- end hero -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    <!-- start about -->
    {% include 'modules/home/about.html' %}
    <!-- end about -->

    <!-- start resume -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-12 col-md-10 col-lg-7 text-center">
                    <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Life Time</span>
                    <h2 class="fs-2 fw-medium lh-1 text-dark my-3 position-relative z-i-2">Education & Experience</h2>
                    <div class="bg-text">
                        <h1 class="fw-bold p-0">Resume</h1>
                    </div>
                    <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">

                    </p>
                </div><!--end col-->
          </div><!--end row-->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="main-timeline">
                                <div class="timeline">
                                    <a href="#" class="timeline-content">
                                        <div class="timeline-icon">
                                            <i class="ti ti-device-gamepad"></i>
                                        </div>
                                        <div class="inner-content">
                                            <h3 class="title">Fireye/Trellix - Cybersecurity IT Company</h3>
                                            <p class="description">
                                                Trellix is a privately held cybersecurity company that was founded in 2022. It has been involved in the detection and prevention of major cybersecurity attacks. It provides hardware, software, and services to investigate cybersecurity attacks, protect against malicious software, and analyze IT security risks.                                                </p>
                                        </div>
                                        <div class="timeline-year"><span>July 2022-</span></div>
                                    </a>
                                </div>
                                <div class="timeline">
                                    <a href="#" class="timeline-content">
                                        <div class="timeline-icon">
                                            <i class="ti ti-device-gamepad"></i>
                                        </div>
                                        <div class="inner-content">
                                            <h3 class="title">GammaStack - IGaming IT Company</h3>
                                            <p class="description">
                                                GammaStack is an end–to–end IT services and solutions provider delivering platforms that overcome business challenges and increase revenues.
                                            </p>
                                        </div>
                                        <div class="timeline-year"><span>Feb 2021-</span></div>
                                    </a>
                                </div>
                                <div class="timeline">
                                    <a href="#" class="timeline-content">
                                        <div class="timeline-icon">
                                            <i class="ti ti-school"></i>
                                        </div>
                                        <div class="inner-content">
                                            <h3 class="title">BTech Computer Science & Engineering Degree</h3>
                                            <p class="description">
                                                Lakshmi Narain College of Technology and Excellence is an educational institution that offers graduate,
                                                in the fields of Engineering and Medical Sciences.
                                            </p>
                                        </div>
                                        <div class="timeline-year"><span>2012-13</span></div>
                                    </a>
                                </div>
                                <div class="timeline">
                                    <a href="#" class="timeline-content">
                                        <div class="timeline-icon">
                                            <i class="ti ti-school"></i>
                                        </div>
                                        <div class="inner-content">
                                            <h3 class="title">Higher Secondary school  70.40%</h3>
                                            <p class="description">
                                                Shir Ram Adarsh is an educational institution that offers Higher Education in the field of Science, Technology, Engineering and Mathematics, Arts
                                            </p>
                                        </div>
                                        <div class="timeline-year"><span>2015-16</span></div>
                                    </a>
                                </div>
                                <div class="timeline">
                                    <a href="#" class="timeline-content">
                                        <div class="timeline-icon">
                                            <i class="ti ti-school"></i>
                                        </div>
                                        <div class="inner-content">
                                            <h3 class="title">High Secondary school  88.60%</h3>
                                            <p class="description">
                                                Bhonsala Military is an educational institution that High Education in the field of Science, Technology, Engineering and Mathematics, Arts
                                                along with Military Curriculum.
                                            </p>
                                        </div>
                                        <div class="timeline-year"><span>2013-14</span></div>
                                    </a>
                                </div>
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->

                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
    <!-- end resume -->

    <div class="position-relative">
        <div class="shape overflow-hidden bg-footer">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>



{% endblock content %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            var dateObj = new Date();
            var month = dateObj.getUTCMonth() + 1; //months from 1-12
            var day = dateObj.getUTCDate();
            var year = dateObj.getUTCFullYear();


            dt1 = new Date("2021-02-08");
            dt2 = new Date(year + '-' + month + '-' + day);

            function diff_year_month_day(dt1, dt2)
                {

                var time =(dt2.getTime() - dt1.getTime()) / 1000;
                var year  = Math.abs(Math.round((time/(60 * 60 * 24))/365.25));
                var month = Math.abs(Math.round(time/(60 * 60 * 24 * 7 * 4)));
                var days = Math.abs(Math.round(time/(3600 * 24)));
                var month_raw = month % (year * 12);

                var final_str = year;
                if (year <= 1){
                    final_str += " Year ";
                }
                else{
                    final_str += " Years ";
                }

                if (month <= 1){
                    final_str += month_raw + " Month ";
                }
                else{
                    final_str += month_raw + " Months";
                }

                return final_str

                }

            var diff_year_month_day = diff_year_month_day(dt1, dt2)
            console.log(diff_year_month_day);
            $('#expericnce_dynamic').text(diff_year_month_day);
            $('#expericnce_dynamic_python').text(diff_year_month_day);
            $('#expericnce_dynamic_django').text(diff_year_month_day);
            $('#expericnce_dynamic_jwt').text(diff_year_month_day);
            $('#expericnce_dynamic_docker').text(diff_year_month_day);
            $('#expericnce_dynamic_aws').text(diff_year_month_day);
            $('#expericnce_dynamic_heroku').text(diff_year_month_day);
            $('#expericnce_dynamic_git').text(diff_year_month_day);
            $('#expericnce_dynamic_github').text(diff_year_month_day);
            $('#expericnce_dynamic_gitlab').text(diff_year_month_day);
            $('#expericnce_dynamic_css').text(diff_year_month_day);
            $('#expericnce_dynamic_html').text(diff_year_month_day);
            $('#expericnce_dynamic_bootstrap').text(diff_year_month_day);
            $('#expericnce_dynamic_mysql').text(diff_year_month_day);
            $('#expericnce_dynamic_prostgres').text(diff_year_month_day);
            $('#expericnce_dynamic_sqlite').text(diff_year_month_day);

            $('#expericnce_dynamic_nginx').text(diff_year_month_day);
            $('#expericnce_dynamic_windows').text(diff_year_month_day);
            $('#expericnce_dynamic_ubuntu').text(diff_year_month_day);
            $('#expericnce_dynamic_redis').text(diff_year_month_day);

            $('#expericnce_dynamic_selenium').text(diff_year_month_day);
            $('#expericnce_dynamic_windows').text(diff_year_month_day);
            $('#expericnce_dynamic_celery').text(diff_year_month_day);
            $('#expericnce_dynamic_rabbitmq').text(diff_year_month_day);

            const mydata = JSON.parse(document.getElementById('message_sent_done').textContent);
            if( mydata && mydata != 'get'){
                {#$('#modal-text').text('Message Sent')#}
                {#$('#contact-message').modal('show');#}
                Swal.fire({
                            icon: 'success',
                            title: 'success',
                            text: 'Message Sent',
                        }).then(() => {
                            {#location.reload();#}
                        }
                    )
            }
            if (!mydata){
                {#$('#modal-text').text('Message Not Sent')#}
                {#$('#contact-message').modal('show');#}
                                     Swal.fire({
                            title: 'Oops...',
                            text: "Message Cannot be Sent",
                            icon: 'error',
                        });
                        return false;
            }

            $('#get_otp').on('click',function(e) {
                let email = $('#id_email').val();
                $.ajax({
                 type: 'POST',
                 url: "{% url 'get-otp' %}",
                 data: {
                     email: email,
                     csrfmiddlewaretoken: '{{ csrf_token }}'
                 },
                 dataType: 'json',
                 success: function(data) {
                     Swal.fire({
                            icon: 'success',
                            title: 'success',
                            text: data.message,
                        }).then(() => {
                            {#location.reload();#}
                        }
                    )
                 },
                 error: function(data){
                    Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.responseJSON.message,
                        });
                        return false;
                    }
                 })
            });
        });


    </script>
{% endblock javascripts %}
