{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- start hero -->
        {% include 'modules/contact/hero.html' %}
    <!-- end hero -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- start contact us -->
        {% include 'modules/home/contact.html' %}
    <!-- end contact us -->
    <div class="position-relative">
        <div class="shape overflow-hidden bg-footer">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    {{ message_sent_done|json_script:'message_sent_done' }}


<div class="modal" id="contact-message" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modal-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            const mydata = JSON.parse(document.getElementById('message_sent_done').textContent);

            if( mydata && mydata != 'get'){
                {#$('#modal-text').text('Message Sent')#}
                {#$('#contact-message').modal('show');#}
                Swal.fire({
                            icon: 'success',
                            title: 'success',
                            text: 'Message Sent',
                        }).then(() => {
                            {#location.reload();#}
                        }
                    )
            }

            if (!mydata){
                {#$('#modal-text').text('Message Not Sent')#}
                {#$('#contact-message').modal('show');#}
                                     Swal.fire({
                            title: 'Oops...',
                            text: "Message Cannot be Sent",
                            icon: 'error',
                        });
                        return false;
            }

            $('#get_otp').on('click',function(e) {
                let email = $('#id_email').val();
                $.ajax({
                 type: 'POST',
                 url: "{% url 'get-otp' %}",
                 data: {
                     email: email,
                     csrfmiddlewaretoken: '{{ csrf_token }}'
                 },
                 dataType: 'json',
                 success: function(data) {
                     Swal.fire({
                            icon: 'success',
                            title: 'success',
                            text: data.message,
                        }).then(() => {
                            {#location.reload();#}
                            $('#get_otp').css('background-color', 'green');
                            $('#get_otp').text('One Time Password Sent | Resend');
                        }
                    )
                 },
                 error: function(data){
                    Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.responseJSON.message,
                        });
                        return false;
                    }
                 })
            });

        });


    </script>
{% endblock javascripts %}
