{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<h5 style="color: white">Skills</h5>
<div class="row" style="margin-top: 10px">
    <div class="col-12">
        <div class="card mb-4" >
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <div style="padding: 20px">
                   <div class="row">
                     <div class="col-12 d-flex align-items">
                        <div>
                            <ul class="nav nav-footer justify-content-center">
                                <img src="https://img.shields.io/badge/C-FFFFFF?style=for-the-badge&logo=c&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/C%2B%2B-FFFFFF?style=for-the-badge&logo=c%2B%2B&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Python-FFFFFF?style=for-the-badge&logo=python&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Django-FFFFFF?style=for-the-badge&logo=django&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Flask-FFFFFF?style=for-the-badge&logo=flask&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/fastapi-FFFFFF?style=for-the-badge&logo=FASTAPI&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/React-FFFFFF?style=for-the-badge&logo=react&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Redux-FFFFFF?style=for-the-badge&logo=redux&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/JWT-FFFFFF?style=for-the-badge&logo=JSON%20web%20tokens&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Material%20UI-FFFFFF?style=for-the-badge&logo=mui&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Docker-FFFFFF?style=for-the-badge&logo=docker&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/GitHub_Actions-FFFFFF?style=for-the-badge&logo=github-actions&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Amazon_AWS-FFFFFF?style=for-the-badge&logo=amazonaws&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Heroku-FFFFFF?style=for-the-badge&logo=heroku&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/GraphQl-FFFFFF?style=for-the-badge&logo=graphql&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/GIT-FFFFFF?style=for-the-badge&logo=git&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/GitHub-FFFFFF?style=for-the-badge&logo=github&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/GitLab-FFFFFF?style=for-the-badge&logo=gitlab&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/CSS3-FFFFFF?style=for-the-badge&logo=css3&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/HTML5-FFFFFF?style=for-the-badge&logo=html5&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Bootstrap-FFFFFF?style=for-the-badge&logo=bootstrap&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/MongoDB-FFFFFF?style=for-the-badge&logo=mongodb&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/MySQL-FFFFFF?style=for-the-badge&logo=mysql&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/PostgreSQL-FFFFFF?style=for-the-badge&logo=postgresql&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/SQLite-FFFFFF?style=for-the-badge&logo=sqlite&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/redis-FFFFFF.svg?&style=for-the-badge&logo=redis&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/jQuery-FFFFFF?style=for-the-badge&logo=jquery&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Nginx-FFFFFF?style=for-the-badge&logo=nginx&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Windows-FFFFFF?style=for-the-badge&logo=windows&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Ubuntu-FFFFFF?style=for-the-badge&logo=ubuntu&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                                <img src="https://img.shields.io/badge/Selenium-FFFFFF?style=for-the-badge&logo=Selenium&logoColor=black" class="btn-toolbar" style="margin: 3px; border-radius: 5px">
                            </ul>
                        </div>
                     </div>
                   </div>
                </div>
            </div>
          </div>
        </div>
   </div>
</div>

<h5 style="color: white">Projects</h5>

<div class="row" style="margin-bottom: 10px">
    <div class="col-lg-6">
      <div class="card h-150 p-3">
        <div class="overflow-hidden position-relative border-radius-lg bg-cover h-150" style="background-image: url('{% static "images/projects/project1.png" %}')">
          <span class="mask bg-gradient-faded-light"></span>
          <div class="card-body position-relative z-index-1 d-flex flex-column h-150 p-3">
            <h5 class="text-black font-weight-bolder mb-4 pt-2">Django Project CRUD using AJAX, DJANGO FORMS, GRAPHQL and DJANGO REST/GRAPHQL APIs</h5>
                <p class="text-black">
                    <ul>
                      <li>Implemented Complete Auth Using Django Default Auth Model</li>
                      <li>Implemented Crud Operations with Django Forms/Ajax/GraphQl</li>
                      <li>Build Rest API/ GraphQl API</li>
                      <li>Deployed on Heroku</li>
                    </ul>
                </p>
            <a class="text-black text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{% url 'project-detailed-view' 1 %}" target="_blank">
              Read More
              <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
            </a>
            <div style="align-self: end">
              <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/django-project" target="_blank">
                <span class="fa fa-github" style="margin-right: 10px"></span> Check Repo
              </a>
              <a class="btn btn-block btn-social btn-github" href="https://django-project-api-crud-graphq.herokuapp.com/" target="_blank">
                <span class="fa fa-youtube" style="margin-right: 10px"></span> Live Demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card h-150 p-3">
        <div class="overflow-hidden position-relative border-radius-lg bg-cover h-150" style="background-image: url('{% static "images/projects/project2.png" %}')">
          <span class="mask bg-gradient-faded-light"></span>
          <div class="card-body position-relative z-index-1 d-flex flex-column h-150 p-3">
            <h5 class="text-black font-weight-bolder mb-4 pt-2">Django Chat Project with Tortoise ORM (SQlite ver)</h5>
            <p class="text-black">
                <ul>
                  <li>Implemented Complete Auth Using Django Default Auth Model.</li>
                  <li>Implemented Chat App using Django Channels/Redis/Tortoise ORM</li>
                  <li>Deployed on Heroku</li>
                  <li>Containerized using Docker</li>
                </ul>
            </p>
            <a class="text-black text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{% url 'project-detailed-view' 2 %}" target="_blank">
              Read More
              <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
            </a>
            <div style="align-self: end">
              <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/django-chat-app-tortise-with-sqlite3" target="_blank">
                <span class="fa fa-github" style="margin-right: 10px"></span> Check Repo
              </a>
              <a class="btn btn-block btn-social btn-github" href="http://django-chat-app-version1.herokuapp.com/" target="_blank">
                <span class="fa fa-youtube" style="margin-right: 10px"></span> Live Demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px">
    <div class="col-lg-6">
      <div class="card h-150 p-3">
        <div class="overflow-hidden position-relative border-radius-lg bg-cover h-150" style="background-image: url('{% static "images/projects/project3.png" %}')">
          <span class="mask bg-gradient-faded-light"></span>
          <div class="card-body position-relative z-index-1 d-flex flex-column h-150 p-3">
            <h5 class="text-black font-weight-bolder mb-4 pt-2">Django Simple Numeric Calculator</h5>
            <p class="text-black">
                <ul>
                  <li>Used JQuery for making html Dynamic</li>
                  <li>Used SoftUI</li>
                  <li>Build Calculator Operations +, -, *, / as well as brackets are evaluated</li>
                  <li>Deployed on Heroku</li>
                </ul>
            </p>
            <a class="text-black text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{% url 'project-detailed-view' 3 %}" target="_blank">
              Read More
              <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
            </a>
            <div style="align-self: end">
              <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/django-numeric-calculator" target="_blank">
                <span class="fa fa-github" style="margin-right: 10px"></span> Check Repo
              </a>
              <a class="btn btn-block btn-social btn-github" href="https://django-numerical-calculator.herokuapp.com/" target="_blank">
                <span class="fa fa-youtube" style="margin-right: 10px"></span> Live Demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


    {% include "snippets/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
    </script>
{% endblock javascripts %}