{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- start hero -->
    {% include 'modules/projects/hero.html' %}
    <!-- end hero -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>


    {% include 'modules/home/projects.html' %}

    <div class="position-relative">
        <div class="shape overflow-hidden bg-footer">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
    <script>

    </script>
{% endblock javascripts %}
