{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section bg-light" id="terms-and-conditions">
    <div class="container">
        <h1>Terms and Conditions</h1>
        <p>Last updated: 1 Aug 2024</p>

        <h2>Introduction</h2>
        <p>Welcome to ArpanSahu One. These terms and conditions outline the rules and regulations for the use of our services.</p>

        <h2>Acceptance of Terms</h2>
        <p>By accessing and using our services, you agree to be bound by these terms and conditions. If you do not agree with any part of the terms, you must not use our services.</p>

        <h2>Changes to Terms</h2>
        <p>We may update these terms from time to time. Any changes will be posted on this page, and we will notify you of any significant changes. Your continued use of the services after any such changes constitutes your acceptance of the new terms.</p>

        <h2>Use of Services</h2>
        <p>You agree to use our services only for lawful purposes and in a way that does not infringe the rights of, restrict, or inhibit anyone else's use and enjoyment of the services. Prohibited behavior includes harassing or causing distress or inconvenience to any other user, transmitting obscene or offensive content, or disrupting the normal flow of dialogue within our services.</p>

        <h2>Intellectual Property</h2>
        <p>All content, trademarks, and data on our website, including but not limited to software, databases, text, graphics, icons, hyperlinks, private information, designs, and agreements, are the property of [Your Project Name] or its content suppliers.</p>

        <h2>Limitation of Liability</h2>
        <p>Our services are provided "as is" without any warranties of any kind, whether express or implied. We do not guarantee that the services will be available at any specific time or location, secure, or free of errors or defects.</p>
        <p>To the fullest extent permitted by law, [Your Project Name] shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or relating to the use or inability to use our services, even if we have been advised of the possibility of such damages.</p>

        <h2>Governing Law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of [Your Country/State], and you irrevocably submit to the exclusive jurisdiction of the courts in that location.</p>

        <h2>Termination</h2>
        <p>We reserve the right to terminate or suspend your access to our services immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these terms and conditions.</p>

        <a href="{% url 'contact' %}" target="" class="btn btn-primary">Contact US</a>
    </div>
</section>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}