<h1>Django React Blog API</h1>
<p>This project is implementation for the following topics related to technologies used with React</p>
<ol>
<li>crud operations for Blog Model for admins</li>
<li>used Material UI</li>
<li>home page displays a list of existing blog</li>
<li>Integrated with REST API using axios at end point: https://github.com/arpansahu/django-react-backend-with-social</li>
<li>Forget Password and Social Login is also enabled</li>
</ol>
<p>-Deployed on Heroku</p>
<ol>
<li>Used Heroku for deployment</li>
</ol>
<h2>Tech Stack</h2>
<p><a href="https://reactjs.org/"><img alt="React JS" src="https://img.shields.io/badge/React-20232A?style=for-the-badge&amp;logo=react&amp;logoColor=61DAFB" /></a>
<a href="https://reactrouter.com/"><img alt="React Router" src="https://img.shields.io/badge/React_Router-CA4245?style=for-the-badge&amp;logo=react-router&amp;logoColor=white" /></a>
<a href="https://redux.js.org/"><img alt="Redux" src="https://img.shields.io/badge/Redux-593D88?style=for-the-badge&amp;logo=redux&amp;logoColor=white" /></a>
<a href="https://www.heroku.com/"><img alt="Heroku" src="https://img.shields.io/badge/Heroku-430098?style=for-the-badge&amp;logo=heroku&amp;logoColor=white" /></a></p>
<h2>Demo</h2>
<p>Backend Available at: https://github.com/arpansahu/django-react-backend-with-social</p>
<p>FrontEnd Available at: https://react-materialui-complete.herokuapp.com/</p>
<p>Note: Both the projects are running on Free dynos of Heroku so Please makesure before accessing Frontend Project
awake the Backend by visiting the backend link</p>
<p>admin login details:--
email: admin@arpansahu.me
password: showmecode</p>
<h2>License</h2>
<p><a href="https://choosealicense.com/licenses/mit/">MIT</a></p>
<h2>Installation</h2>
<h3>Install Node JS</h3>
<p>Refer to https://nodejs.org/en/ to install nodejs</p>
<h3>Install create-react-app</h3>
<p>Install create-react-app npm package globally. This will help to easily run the project and also build the source files easily. Use the following command to install create-react-app</p>
<h2>Cloning and Running the Application in local</h2>
<p>Clone the project into local</p>
<p>Install all the npm packages. Go into the project folder and type the following command to install all npm packages</p>
<p><code>bash
npm install</code></p>
<p>In order to run the application Type the following command</p>
<p><code>bash
npm start</code></p>
<p>The Application Runs on <strong>localhost:3000</strong></p>
<h2>Deployment on Heroku</h2>
<p>Installing Heroku Cli from : https://devcenter.heroku.com/articles/heroku-cli
Create your account in Heroku.</p>
<p>Inside your project directory</p>
<p>Login Heroku CLI
```bash
  heroku login</p>
<p>```</p>
<p>Create Heroku App</p>
<p>```bash
  heroku create [app_name]</p>
<p>```</p>
<p>Push Heroku App
<code>git push heroku master</code></p>
<p>Configure Heroku App
```bash
  add all the env variables using settings page on heroku app dashboard.</p>
<p><code>Configuring React App for Heroku</code>
    npm run build
```</p>
<h2>Documentation</h2>
<p><a href="https://reactjs.org/"><img alt="React JS" src="https://img.shields.io/badge/React-20232A?style=for-the-badge&amp;logo=react&amp;logoColor=61DAFB" /></a>
<a href="https://reactrouter.com/"><img alt="React Router" src="https://img.shields.io/badge/React_Router-CA4245?style=for-the-badge&amp;logo=react-router&amp;logoColor=white" /></a>
<a href="https://redux.js.org/"><img alt="Redux" src="https://img.shields.io/badge/Redux-593D88?style=for-the-badge&amp;logo=redux&amp;logoColor=white" /></a>
<a href="https://www.heroku.com/"><img alt="Heroku" src="https://img.shields.io/badge/Heroku-430098?style=for-the-badge&amp;logo=heroku&amp;logoColor=white" /></a></p>