<h1>Django Project</h1>
<p>This project is a working Project for Premium Collection Point. In this project there are two entities namely 
branch and manager. My father is a LIC Wealth Manager and I have built this project to help him manage his clients 
across PAN India. </p>
<p>Challenges Faced By My Father during Pandemic:
- His 90% client used to pay their LIC Premiums using Cash.
- Pre Pandemic they used to visit Fathers office or LIC branch to pay their premiums which was not possible 
  due to lockdown across India.
- Penalty Charges were increasing on my fathers clients and my Fathers Income was also reducing </p>
<p>Solution To The Problem:
1. Built a web portal which was looking trustworthy and was with the name of my fathers official branch name 
 i.e. Sahu Beema Kendra which was later renamed to Premium Collection Point.com
2. Customers were used to pay in Cash to Sub branches \
3. Sub-branches used to earn 1% commission of the total amount paid through their branch 
4. Next day sub-branch owners used to deposit cash to their collected cash to their bank account, and they can 
    add money to their wallet using pcp-pay gateway
5. PCP-Pay gateway was a custom sub service which was built in this project to support UPI/IMPS/CASH methods
    to add money to wallet
6. Few of our branches were allowed to deposit in CASH to our Bank Account and add money to wallet. But many others 
  were only allowed to add money using UPI QR Code or IMPS</p>
<p>Business Opportunities:
1. Branches were able to earn 1% of the total amount of premium bills paid through their branch
2. Refer n Earn system was also introduced later which enables branches to earn 10% of the 1 st level refers Income.</p>
<p>Feature Scope and Improvements:
1. Initially this project was requiring some human intervention in the working of the project.
2. Money Orders can  be automated using Email Reading With Python or Sms Reading which were sent by bank for
 approving money orders
3. Selenium was used to fetch premium amount from Amazon Pay. Although LIC Official Portal for Premium Collection 
already exists, but it's access cannot be distributed with others (for security purposes). Moreover, bill was a little
hard to scrap for that portal due to a lot of captcha. While Amazon Pay was allowing to check the bill without any login 
required. Note: since jan 2022 amazon pay started hiding premium holders name if we scrap without logging into amazon pay
    - So this can be overcome using Bill-desk APIs, but it will cost hefty money
4. You can also replace this payment Gateway with Paytm Payment Gateway which provides 0% fees on UPI and Debit 
    mode of transactions. But it would require you to be a merchant, and you should have proper documentations</p>
<p>-Implemented Complete Auth Using Custom Auth Model.</p>
<ol>
<li>Used built in AbstractBaseUser as parent Auth Model</li>
<li>Build Custom Manager for the same</li>
<li>Implemented custom error View for customizing Templates</li>
<li>Login. SingUp, Logout, Account Views Implemented</li>
<li>In built views of PasswordChangeDoneView, PasswordChangeView, PasswordResetCompleteView, PasswordResetConfirmView, PasswordResetView, PasswordResetCompleteView</li>
<li>Build Custom Templates for These Inbuilt Views</li>
<li>Reset Password is working </li>
<li>If kyc is False then it will show you Get Kyc Details unless it will welcome you. By default, every user is non keyid.</li>
<li>If you want to kyc a person login to admin panel from here:  https://premiumcollectionpoint.herokuapp.com/admin/ and  modify it</li>
</ol>
<p>-Used Heroku to Deploy Premium Collection Point </p>
<ol>
<li>For using Selenium in Heroku <ol>
<li>https://github.com/heroku/heroku-buildpack-chromedriver (ChromeDriver)</li>
<li>https://github.com/heroku/heroku-buildpack-google-chrome (Chrome)</li>
<li>apart from default env variables add: variables for ChromeDriver and Chrome -</li>
<li>CHROMEDRIVER_PATH: /app/.chromedriver/bin/chromedriver</li>
<li>GOOGLE_CHROME_BIN: /app/.apt/usr/bin/google-chrome</li>
</ol>
</li>
<li>Postgres was used as database</li>
</ol>
<hr />
<p>Note: This project is hosted in Heroku as of now. which restricts a request to be fulfilled in max 30 seconds 
otherwise requests will be terminated. If Bill Check Service don't work properly in Demo then problem is caused due to 
this reason. I have myself hosted this project in AWS when it was in use. So I highly recommend to host it on AWS if you
want to use yourself for some other purposes then demo.</p>
<hr />
<h2>Tech Stack</h2>
<p><a href="https://www.python.org/"><img alt="Python" src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&amp;logo=python&amp;logoColor=white" /></a>
<a href="https://www.djangoproject.com/"><img alt="Django" src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&amp;logo=django&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"><img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&amp;logo=html5&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS"><img alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&amp;logo=css3&amp;logoColor=white" /></a>
<a href="https://getbootstrap.com/"><img alt="Bootstrap" src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&amp;logo=bootstrap&amp;logoColor=white" /></a>
<a href="https://www.selenium.dev/"><img alt="Selenium" src="https://img.shields.io/badge/Selenium-43B02A?style=for-the-badge&amp;logo=Selenium&amp;logoColor=white" /></a>
<a href="https://www.postgresql.org/"><img alt="Postgres" src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white" /></a>
<a href="https://www.heroku.com/"><img alt="Heroku" src="https://img.shields.io/badge/Heroku-430098?style=for-the-badge&amp;logo=heroku&amp;logoColor=white" /></a></p>
<h2>Demo</h2>
<p>Available at: https://premiumcollectionpoint.herokuapp.com/</p>
<p>admin login details:--    url: https://premiumcollectionpoint.herokuapp.com/admin</p>
<p>email: admin@arpansahu.me
password: showmecode</p>
<p>Branch login details:--</p>
<p>email: branchone@arpansahu.me
password: showmecode</p>
<p>Manager login details:--</p>
<p>email: managerone@arpansahu.me
password: showmecode</p>
<h2>License</h2>
<p><a href="https://choosealicense.com/licenses/mit/">MIT</a></p>
<h2>Installation</h2>
<p>Installing Pre requisites</p>
<p>```bash
  pip install -r requirements.txt</p>
<p>```</p>
<p>Making Migrations and Migrating them.</p>
<p>```bash
  python manage.py makemigrations
  python manage.py migrate</p>
<p>```</p>
<p>Creating Super User</p>
<p>```bash
  python manage.py createsuperuser</p>
<p>```</p>
<p>Run Server
```bash
  python manage.py runserver</p>
<p>```</p>
<h2>Tech Stack</h2>
<p><strong>Client:</strong> HTML, Jinja, CSS, BootStrap</p>
<p><strong>Server:</strong> Django, Gunicorn, Heroku, Selenium</p>
<h2>Deployment on Heroku</h2>
<p>Installing Heroku Cli from : https://devcenter.heroku.com/articles/heroku-cli
Create your account in Heroku.</p>
<p>Inside your project directory</p>
<p>Login Heroku CLI
```bash
  heroku login</p>
<p>```</p>
<p>Create Heroku App</p>
<p>```bash
  heroku create [app_name]</p>
<p>```</p>
<p>Push Heroku App
<code>git push heroku main</code></p>
<p>Configure Heroku App
<code>bash
  add all the env variables used from app setting page on heroku app dashboard.
  add build packs :
    1. python
    2. https://github.com/heroku/heroku-buildpack-chromedriver (ChromeDriver)
    3. https://github.com/heroku/heroku-buildpack-google-chrome (Chrome)
  apart from default env variables add: variables for ChromeDriver and Chrome -
    CHROMEDRIVER_PATH: /app/.chromedriver/bin/chromedriver
    GOOGLE_CHROME_BIN: /app/.apt/usr/bin/google-chrome</code>
Configuring Django App for Heroku
<code>install whitenoise : pip install whitenoise 
    include it in included_apps=[]
    add whitenoise middleware
    add: procfile with command web: gunicorn SahuBeemaKendra10.wsgi</code></p>
<h2>Documentation</h2>
<p><a href="https://www.python.org/"><img alt="Python" src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&amp;logo=python&amp;logoColor=white" /></a>
<a href="https://www.djangoproject.com/"><img alt="Django" src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&amp;logo=django&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"><img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&amp;logo=html5&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS"><img alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&amp;logo=css3&amp;logoColor=white" /></a>
<a href="https://getbootstrap.com/"><img alt="Bootstrap" src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&amp;logo=bootstrap&amp;logoColor=white" /></a>
<a href="https://www.selenium.dev/"><img alt="Selenium" src="https://img.shields.io/badge/Selenium-43B02A?style=for-the-badge&amp;logo=Selenium&amp;logoColor=white" /></a>
<a href="https://www.postgresql.org/"><img alt="Postgres" src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white" /></a>
<a href="https://www.heroku.com/"><img alt="Heroku" src="https://img.shields.io/badge/Heroku-430098?style=for-the-badge&amp;logo=heroku&amp;logoColor=white" /></a></p>
<h2>Environment Variables</h2>
<p>To run this project, you will need to add the following environment variables to your .env file</p>
<p>SECRET_KEY=</p>
<p>DEBUG=</p>
<p>DB_HOST=</p>
<p>DB_NAME=</p>
<p>DB_USER=</p>
<p>DB_PASSWORD=</p>
<p>DB_PORT=</p>
<p>EMAIL_USER=</p>
<p>EMAIL_PASS=</p>
<p>ALLOWED_HOSTS=</p>