<h1>Django Chat Project with Tortoise ORM (SQlite ver)</h1>
<p>This project is implementation for the following topics related to technologies used with Django</p>
<p>-Implemented Complete Auth Using Django Default Auth Model.</p>
<ol>
<li>Used built in Django Auth Model</li>
<li>Implemented custom error View for customizing Templates</li>
<li>Login. SingUp, Logout, Account Views Implemented</li>
<li>In built views of PasswordChangeDoneView, PasswordChangeView, PasswordResetCompleteView, PasswordResetConfirmView, PasswordResetView, PasswordResetCompleteView</li>
<li>Build Custom Templates for These Inbuilt Views</li>
</ol>
<p>-Implemented Chat App using Django Channels/Redis/Tortoise ORM</p>
<ol>
<li>build custom chat groups</li>
<li>as soon as a user register in the app, a signal is fired to creat a room with every user</li>
<li>Used simple Javascript/Django Channels/Redis to connect to Django Channels and perform these asynchronous chatting system</li>
<li>Connected Tortoise ORM with a SQlite Database for asynchronous data</li>
<li>User can delete their messages.</li>
<li>Used Postgres for Django Models</li>
</ol>
<p>Similarly, we can build Chat Groups</p>
<p>-Deployed on Heroku using Daphne, Heroku Postgres</p>
<p>-Containerized using Docker</p>
<h2>Tech Stack</h2>
<p><a href="https://www.python.org/"><img alt="Python" src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&amp;logo=python&amp;logoColor=white" /></a>
<a href="https://www.djangoproject.com/"><img alt="Django" src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&amp;logo=django&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"><img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&amp;logo=html5&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS"><img alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&amp;logo=css3&amp;logoColor=white" /></a>
<a href="https://getbootstrap.com/"><img alt="Bootstrap" src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&amp;logo=bootstrap&amp;logoColor=white" /></a>
<a href="https://redis.io/docs/"><img alt="Redis" src="https://img.shields.io/badge/redis-%23DD0031.svg?style=for-the-badge&amp;logo=redis&amp;logoColor=white" /></a>
<a href="https://www.sqlite.org/docs.html"><img alt="SQlite" src="https://img.shields.io/badge/SQLite-07405E?style=for-the-badge&amp;logo=sqlite&amp;logoColor=white" /></a>
<a href="https://www.postgresql.org/docs/"><img alt="Postgres" src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white" /></a>
<a href="https://docs.docker.com/"><img alt="Docker" src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&amp;logo=docker&amp;logoColor=white" /></a></p>
<h2>Demo</h2>
<p>Available at: http://django-chat-app-version1.herokuapp.com/</p>
<p>Note: Remmber to access this project at http because websockets are not configured to run over https in this project yet. </p>
<p>admin login details:--
username: admin
password: showmecode</p>
<h2>License</h2>
<p><a href="https://choosealicense.com/licenses/mit/">MIT</a></p>
<h2>Installation</h2>
<p>Installing Pre requisites
<code>bash
  pip install -r requirements.txt</code></p>
<p>Create .env File
<code>bash
  addn variables mentioned in .env.example</code></p>
<p>Making Migrations and Migrating them.
<code>bash
  python manage.py makemigrations
  python manage.py migrate</code></p>
<p>Creating Super User
<code>bash
  python manage.py createsuperuser</code>
Note: if you try to access chat room with just one user it will be throwing error.So after creating a superuser
register from a new user using website and then enter into it. It must have at least two users to chat.</p>
<hr />
<p>Installing Redis On Local (For ubuntu) for other Os Please refer to their website https://redis.io/
```bash
  curl -fsSL https://packages.redis.io/gpg | sudo gpg --dearmor -o /usr/share/keyrings/redis-archive-keyring.gpg
  echo "deb [signed-by=/usr/share/keyrings/redis-archive-keyring.gpg] https://packages.redis.io/deb $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/redis.list
  sudo apt-get update
  sudo apt-get install redis
  sudo systemctl restart redis.service</p>
<p>to check if its running or not:
  sudo systemctl status redis
```</p>
<hr />
<p>Uncomment Channel Layers Setting for Local Machine
<code>bash
  uncomment line 137 to 144 
   CHANNEL_LAYERS = {
     'default': {
         'BACKEND': 'channels_redis.core.RedisChannelLayer',
         'CONFIG': {
             "hosts": [('127.0.0.1', 6379)],
         },
     },
   }</code>
Comment Channel Layers Setting for Heroku
<code>bash
  comment line 147 to 154 
   CHANNEL_LAYERS = {
    "default": {
        "BACKEND": "channels_redis.core.RedisChannelLayer",
        "CONFIG": {
            "hosts": [config('REDIS_URL')],
        },
    },
  }</code></p>
<p>Run Server
<code>bash
  python manage.py runserver</code></p>
<h2>Deployment on Heroku</h2>
<p>Installing Heroku Cli from : https://devcenter.heroku.com/articles/heroku-cli
Create your account in Heroku.</p>
<p>Inside your project directory</p>
<p>Login Heroku CLI
```bash
  heroku login</p>
<p>```</p>
<p>Create Heroku App</p>
<p>```bash
  heroku create [app_name]</p>
<p>```</p>
<p>Push Heroku App
<code>git push heroku master</code></p>
<p>Configure Heroku App
```bash
  add all the env variables used from app setting page on heroku app dashboard.</p>
<p><code>Configuring Django App for Heroku</code>
    install whitenoise : pip install whitenoise 
    include it in included_apps=[]
    add whitenoise middleware
    add: procfile
    add: 
        release: python manage.py migrate
        web: daphne djangochatapplication.asgi:application --port $PORT --bind 0.0.0.0 -v2
        in procfile
```</p>
<h2>Tech Stack</h2>
<p><strong>Client:</strong> HTML, Jinja, CSS, BootStrap, Javascript</p>
<p><strong>Server:</strong> Django, Django Channels, Daphne, Redis, Heroku</p>
<p><strong>Database:</strong>Postgres, SQlite</p>
<h2>Deployment on Heroku</h2>
<p>Installing Heroku Cli from : https://devcenter.heroku.com/articles/heroku-cli
Create your account in Heroku.</p>
<p>Inside your project directory</p>
<p>Login Heroku CLI
```bash
  heroku login</p>
<p>```</p>
<p>Create Heroku App</p>
<p>```bash
  heroku create [app_name]</p>
<p>```</p>
<p>Push Heroku App
<code>git push heroku master</code></p>
<p>Configure Heroku App
```bash
  add all the env variables used from app setting page on heroku app dashboard.</p>
<p><code>Configuring Django App for Heroku</code>
    install whitenoise : pip install whitenoise 
    include it in included_apps=[]
    add whitenoise middleware
    add: procfile
    add: release-task.sh for running mutilple commands in run: section of procfile
```</p>
<h2>Documentation</h2>
<p><a href="https://www.python.org/"><img alt="Python" src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&amp;logo=python&amp;logoColor=white" /></a>
<a href="https://www.djangoproject.com/"><img alt="Django" src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&amp;logo=django&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"><img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&amp;logo=html5&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS"><img alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&amp;logo=css3&amp;logoColor=white" /></a>
<a href="https://getbootstrap.com/"><img alt="Bootstrap" src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&amp;logo=bootstrap&amp;logoColor=white" /></a>
<a href="https://redis.io/docs/"><img alt="Redis" src="https://img.shields.io/badge/redis-%23DD0031.svg?style=for-the-badge&amp;logo=redis&amp;logoColor=white" /></a>
<a href="https://www.sqlite.org/docs.html"><img alt="SQlite" src="https://img.shields.io/badge/SQLite-07405E?style=for-the-badge&amp;logo=sqlite&amp;logoColor=white" /></a>
<a href="https://www.postgresql.org/docs/"><img alt="Postgres" src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white" /></a>
<a href="https://docs.docker.com/"><img alt="Docker" src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&amp;logo=docker&amp;logoColor=white" /></a></p>
<h2>Environment Variables</h2>
<p>To run this project, you will need to add the following environment variables to your .env file</p>
<p>SECRET_KEY=</p>
<p>DEBUG=</p>
<p>DB_HOST=</p>
<p>DB_NAME=</p>
<p>DB_USER=</p>
<p>DB_PASSWORD=</p>
<p>DB_PORT=</p>
<p>EMAIL_USER=</p>
<p>EMAIL_PASS=</p>
<p>ALLOWED_HOSTS=</p>
<p>REDIS_URL=</p>