<h1>Third Eye Project</h1>
<p>This project is with Django. The purpose of building this project is, a large population hesitate to visit doctors at first.
So they try some home remedies first and then when they give up in home remedies, and they are still suffering from the same disease
they visit doctors. This project is build to help them determine which is the most probable disease they would be suffering from.
This is not recommended since Machine LEarning model is training on limited data collected by MIT. Only 53 symptoms are accounted in
data. Moreover, Model is trained with 97.0 accuracy. But in Filed of Medical ever 0.1 accuracy is important. It can be improved with other
Machine LEarning Models. After getting the prediction users can also locate nearby medical facilities for India. Since I have saved only 
Indian Medical Facilities in my database. Although you can add your area hospitals too.</p>
<p>-Implemented A simple Web App using Naive Bayes Machine Learning algorithm.</p>
<ol>
<li>Used built in Django Auth Model</li>
<li>Built three views, function based</li>
<li>Used Naive Machine Learning Algorithm for model training and prediction</li>
<li>Collected data from MIT Website is used for model training</li>
<li>Trained model was pickled and then used in django views for prediction</li>
<li>Google MAps API and MindMax Database used for user location identification and show them nearby hospital facilities</li>
<li>Hospitals data is collected from indian gov website.</li>
</ol>
<p>-Deployed on Heroku</p>
<ol>
<li>Used Heroku Postgres</li>
</ol>
<p>Note: Since Heroku Postgres Free ver only allows 10,000 max rows, I have switched to SQlite DB due to 200, 000+ medical
facility entries in database.</p>
<h2>Tech Stack</h2>
<p><a href="https://www.python.org/"><img alt="Python" src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&amp;logo=python&amp;logoColor=white" /></a>
<a href="https://www.djangoproject.com/"><img alt="Django" src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&amp;logo=django&amp;logoColor=white" /></a>
<a href="https://scikit-learn.org/"><img alt="Scikit Learn" src="https://img.shields.io/badge/scikit_learn-F7931E?style=for-the-badge&amp;logo=scikit-learn&amp;logoColor=white" /></a>
<a href="https://jquery.com/"><img alt="Jquery" src="https://img.shields.io/badge/jQuery-0769AD?style=for-the-badge&amp;logo=jquery&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"><img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&amp;logo=html5&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS"><img alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&amp;logo=css3&amp;logoColor=white" /></a>
<a href="https://getbootstrap.com/"><img alt="Bootstrap" src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&amp;logo=bootstrap&amp;logoColor=white" /></a>
<a href="https://www.javascript.com/"><img alt="Javascript" src="https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&amp;logo=javascript&amp;logoColor=F7DF1E" /></a>
<a href="https://www.postgresql.org/"><img alt="Postgres" src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white" /></a>
<a href="https://www.sqlite.org/index.html"><img alt="Sqlite" src="https://img.shields.io/badge/SQLite-07405E?style=for-the-badge&amp;logo=sqlite&amp;logoColor=white" /></a>
<a href="https://www.heroku.com/"><img alt="Heroku" src="https://img.shields.io/badge/Heroku-430098?style=for-the-badge&amp;logo=heroku&amp;logoColor=white" /></a>
<a href="https://www.github.com/"><img alt="Github" src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" /></a></p>
<h2>Demo</h2>
<p>Available at: https://third-eye-divya-drishti.herokuapp.com/</p>
<p>admin login details:--
username: arpansahu
password: showmecode</p>
<h2>License</h2>
<p><a href="https://choosealicense.com/licenses/mit/">MIT</a></p>
<h2>Installation</h2>
<p>Installing Pre requisites</p>
<p>```bash
  pip install -r requirements.txt</p>
<p>```</p>
<p>Making Migrations and Migrating them.</p>
<p>```bash
  python manage.py makemigrations
  python manage.py migrate</p>
<p>```</p>
<p>Creating Super User</p>
<p>```bash
  python manage.py createsuperuser</p>
<p>```</p>
<p>Updating Hospital and Symptoms Data</p>
<p><code>bash
  python manage.py update_hospitals_data
  python manage.py update_symptoms_data</code></p>
<p>Run Server
<code>bash
  python manage.py runserver</code></p>
<h2>Tech Stack</h2>
<p><strong>Client:</strong> HTML, Jinja, CSS, BootStrap, Jquery</p>
<p><strong>Server:</strong> Django, Django Rest Framework, Gunicorn, GraphQL, Heroku</p>
<h2>Deployment on Heroku</h2>
<p>Installing Heroku Cli from : https://devcenter.heroku.com/articles/heroku-cli
Create your account in Heroku.</p>
<p>Inside your project directory</p>
<p>Login Heroku CLI
```bash
  heroku login</p>
<p>```</p>
<p>Create Heroku App</p>
<p>```bash
  heroku create [app_name]</p>
<p>```</p>
<p>Push Heroku App
<code>git push heroku master</code></p>
<p>Configure Heroku App
```bash
  add all the env variables used from app setting page on heroku app dashboard.</p>
<p><code>Configuring Django App for Heroku</code>
    install whitenoise : pip install whitenoise 
    include it in included_apps=[]
    add whitenoise middleware
    add: procfile
    add: release-task.sh for running mutilple commands in run: section of procfile
    make relase-task.sh executable : chmod +x release-tasks.sh 
```</p>
<h2>Documentation</h2>
<p><a href="https://www.python.org/"><img alt="Python" src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&amp;logo=python&amp;logoColor=white" /></a>
<a href="https://www.djangoproject.com/"><img alt="Django" src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&amp;logo=django&amp;logoColor=white" /></a>
<a href="https://scikit-learn.org/"><img alt="Scikit Learn" src="https://img.shields.io/badge/scikit_learn-F7931E?style=for-the-badge&amp;logo=scikit-learn&amp;logoColor=white" /></a>
<a href="https://jquery.com/"><img alt="Jquery" src="https://img.shields.io/badge/jQuery-0769AD?style=for-the-badge&amp;logo=jquery&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"><img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&amp;logo=html5&amp;logoColor=white" /></a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS"><img alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&amp;logo=css3&amp;logoColor=white" /></a>
<a href="https://getbootstrap.com/"><img alt="Bootstrap" src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&amp;logo=bootstrap&amp;logoColor=white" /></a>
<a href="https://www.javascript.com/"><img alt="Javascript" src="https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&amp;logo=javascript&amp;logoColor=F7DF1E" /></a>
<a href="https://www.postgresql.org/"><img alt="Postgres" src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white" /></a>
<a href="https://www.sqlite.org/index.html"><img alt="Sqlite" src="https://img.shields.io/badge/SQLite-07405E?style=for-the-badge&amp;logo=sqlite&amp;logoColor=white" /></a>
<a href="https://www.heroku.com/"><img alt="Heroku" src="https://img.shields.io/badge/Heroku-430098?style=for-the-badge&amp;logo=heroku&amp;logoColor=white" /></a>
<a href="https://www.github.com/"><img alt="Github" src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" /></a></p>
<h2>Environment Variables</h2>
<p>To run this project, you will need to add the following environment variables to your .env file</p>
<p>SECRET_KEY=</p>
<p>DEBUG=</p>
<p>DB_HOST=</p>
<p>DB_NAME=</p>
<p>DB_USER=</p>
<p>DB_PASSWORD=</p>
<p>DB_PORT=</p>
<p>EMAIL_USER=</p>
<p>EMAIL_PASS=</p>
<p>ALLOWED_HOSTS=</p>